body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

nav {
    position: absolute;
    top: 20px;
    margin-left: 40%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 10px
}

nav ul li a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: green;
    padding-top: 80px;
}

#tekst {
    text-align: justify;
    font-style: italic;
    margin: 1cm 0 1cm 0;
}

#kolumny {
    display: flex;
}

@media (max-width: 768px){
    #kolumny {
        flex-direction: column;
    }
}

footer a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
}

footer a:hover {
    background-color: blue;
    color: white;
}