body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

nav {
    position: absolute;
    top: 20px;
    margin-left: 40%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 10px
}

nav ul li a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: green;
    padding-top: 80px;
    margin-bottom: 1cm;
}

#tekst {
    text-align: justify;
    font-style: italic;
    margin: 1cm 0 1cm 0;
}

#kolumny {
    display: flex;
}

@media (max-width: 768px){
    #kolumny {
        flex-direction: column;
    }
}

footer a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 5px;
}

footer a:hover {
    background-color: blue;
    color: white;
}
.headerdata{
    margin-bottom: 1px;
}
table,th,td{
    border: solid;
    border-collapse: collapse;
}
th{
    color: white;
    border-color: black;
    background-color: black;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1cm;
}
.image-gallery img {
    width: 300px; 
    height: 300px; 
    border: 2px solid black; 
}

#autorzy ol li {
    list-style-type: upper-latin;
}

#autorzy ol {
    border: black 3px solid;
    font-weight: bold;
    padding: 40px;
}

#autorzy, #linki {
    justify-content: center;
    justify-items: center;
}

input[type="text"] {    
    background-color: blue;
    color: white;
}
button{

    background-color: orange;
}
